/* /Layout/MainLayout.razor.rz.scp.css */
/* /Pages/BoardPanel.razor.rz.scp.css */
.fieldTable[b-w66aghy7u3] {
    border-bottom: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    margin-left: auto;
    margin-right: auto;
}

.fieldCell[b-w66aghy7u3] {
    width: 22px;
    height: 22px;
    font-size: 10pt;
    font-weight: bold;
    border-top: 1px solid #E0E0E0;
    border-left: 1px solid #E0E0E0;
    border-bottom: none;
    border-right: none;
    text-align: center;
    vertical-align: middle;
    padding: 0;
}
/* /Pages/FlagDisplayPanel.razor.rz.scp.css */
.flagDisplay[b-azgsh5h6jt] {
    width: 73px;
    height: 24px;
    background: black;
    padding: 2px;
    display: flex;
    align-items: center;
}

img[b-azgsh5h6jt] {
    margin: 1px;
    display: block;
}
/* /Pages/GamePanel.razor.rz.scp.css */
.mainTable[b-balhefs694] {
    min-width: 200px;
    border-bottom: 1px solid #C0C0C0;
    cursor: default;
    user-select: none;
}

    .mainTable td[b-balhefs694] {
        border-left: 1px solid #C0C0C0;
        border-right: 1px solid #C0C0C0;
        border-top: 1px solid #C0C0C0;
    }

        .mainTable td table td[b-balhefs694] {
            border: none;
            padding: 0;
        }

.headerPanel[b-balhefs694] {
    text-align: center;
    background-color: #D0D0D0;
    padding: 3px;
}

.footerPanel[b-balhefs694] {
    background-color: #D0D0D0;
    padding: 3px;
}
/* /Pages/Home.razor.rz.scp.css */
h1[b-wpc7gmoav2] {
    margin: 0;
}

p[b-wpc7gmoav2] {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-right: 0px;
}
/* /Pages/ResetPanel.razor.rz.scp.css */
.resetPanel[b-6yt164k5kg] {
    height: 25px;
    text-align: center;
    vertical-align: middle;
}
/* /Pages/SettingsPanel.razor.rz.scp.css */
.optionsPanel[b-fo6455w4o6] {
    border: 1px solid black;
    box-shadow: 10px 10px 5px gray;
    padding: 10px;
    background: #d4d0c8;
    width: 350px;
    font-size: 9pt;
}

h2[b-fo6455w4o6] {
    margin: 0;
}

table[b-fo6455w4o6] {
    margin-bottom: 10px;
}

td[b-fo6455w4o6] {
    width: 200px;
}

p[b-fo6455w4o6] {
    margin: 0;
    padding: 0;
}

[b-fo6455w4o6] input[type="number"] {
    width: 40px;
    display: inline-block;
}

button[b-fo6455w4o6] {
    width: 70px;
    padding: 3px;
    margin-left: 3px;
}
/* /Pages/SquarePanel.razor.rz.scp.css */
.square[b-pr1tijtivm] {
    display: block;
    width: 100%;
    height: 100%;
}

.square-closed[b-pr1tijtivm] {
    padding: 1px;
}

.square-button[b-pr1tijtivm] {
    background: url(Images/NormalButtonReady.png) no-repeat top;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

    .square-button:hover[b-pr1tijtivm] {
        background: url(Images/NormalButtonHover.png) no-repeat top;
    }

    .square-button:active[b-pr1tijtivm] {
        background: url(Images/NormalButtonPressed.png) no-repeat top;
    }

.square-open[b-pr1tijtivm] {
    background-color: #e5efde;
}

.square-exploded[b-pr1tijtivm] {
    background-color: red;
}


.tip-safe[b-pr1tijtivm] {
    background: url(Images/TipGreen.png) no-repeat top;
}

    .tip-safe.square-button[b-pr1tijtivm] {
        background: url(Images/TipButtonReady.png) no-repeat top;
    }

        .tip-safe.square-button:hover[b-pr1tijtivm] {
            background: url(Images/TipButtonHover.png) no-repeat top;
        }

        .tip-safe.square-button:active[b-pr1tijtivm] {
            background: url(Images/TipButtonPressed.png) no-repeat top;
        }

.tip-mine[b-pr1tijtivm] {
    background: url(Images/TipRed.png) no-repeat top;
}

    .tip-mine.square-button[b-pr1tijtivm] {
        background: url(Images/TipRedButtonReady.png) no-repeat top;
    }

        .tip-mine.square-button:hover[b-pr1tijtivm] {
            background: url(Images/TipRedButtonHover.png) no-repeat top;
        }

        .tip-mine.square-button:active[b-pr1tijtivm] {
            background: url(Images/TipRedButtonPressed.png) no-repeat top;
        }
/* /Pages/TimerPanel.razor.rz.scp.css */
.timerPanel[b-c4ny6lqgcw] {
    margin-left: auto;
    width: 73px;
    height: 24px;
    background: black;
    padding: 2px;
    display: flex;
    align-items: center;
}

img[b-c4ny6lqgcw] {
    margin: 1px;
    display: block;
}

.points[b-c4ny6lqgcw] {
    margin: 1px;
}
/* /Pages/TipPanel.razor.rz.scp.css */
button[b-8kh1c7e6o7] {
    margin-right: 3px;
}

.message[b-8kh1c7e6o7] {
    display: inline-block;
    font-size: smaller;
    margin-left: 2px;
    font-style: italic;
}
